pipeline/Copy_from_each_URL.json
{
	"name": "Copy_from_each_URL",
	"properties": {
		"description": "Retrieves data from multiple HTTP endpoints as specified in the 'endpoints' parameter.\nThe data is landed in the data lake within a folder named with the current datetime (in the timezone specified).\n\nFor a list of timezones, see: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#convertfromutc",
		"activities": [
			{
				"name": "get data for each endpoint",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set currentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpoints",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Copy_from_URL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_from_URL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"URL": {
										"value": "@item().URL",
										"type": "Expression"
									},
									"sinkFilesystem": {
										"value": "@pipeline().parameters.sinkFilesystem",
										"type": "Expression"
									},
									"sinkFilename": {
										"value": "@{item().sinkDirectory}/@{variables('currentDateTime')}/@{item().sinkFilename}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set currentDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDateTime",
					"value": {
						"value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHHmm_ss')}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"endpoints": {
				"type": "array",
				"defaultValue": [
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Student_and_School_Data_Systems/test_data/batch1/studentattendance.csv",
						"sinkDirectory": "contoso_sis/studentattendance",
						"sinkFilename": "part1.csv"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Student_and_School_Data_Systems/test_data/batch1/studentdemographics.csv",
						"sinkDirectory": "contoso_sis/studentdemographics",
						"sinkFilename": "part1.csv"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Student_and_School_Data_Systems/test_data/batch1/studentsectionmark.csv",
						"sinkDirectory": "contoso_sis/studentsectionmark",
						"sinkFilename": "part1.csv"
					}
				]
			},
			"sinkFilesystem": {
				"type": "string",
				"defaultValue": "stage1np"
			},
			"timezone": {
				"type": "string",
				"defaultValue": "Eastern Standard Time"
			}
		},
		"variables": {
			"currentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OEA_Framework/Extracts"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-15T04:00:41Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}